body {
    background-color: beige;
    display: flex;

}

.controls {
    background-color: white;
    padding: 2rem;
}

canvas {
    background-color: white;
}

.selected#wall {
    background-color: grey;
}
.selected#start {
    background-color: lightgreen;
}
.selected#goal {
    background-color: lightcoral;
}