body {
    background-color: beige;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    display: flex;
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
}

.controls {
    padding: 2rem;
}

.draw-type button:not(.selected) {
    filter: brightness(0.8);
}